:root {
  --black: #151515;
  --dark: #222;
  --light: #ccc;
  --white: #fff;
  --blue: #00f;
}

body {
  font-family: monospace, sans-serif;
  font-size: 125%;
  margin: 0;
  background-color: var(--dark);
  text-align: justify;
  color: var(--light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 450px) {
  body {
    font-size: 125%;
    text-align: left;
  }
}

a { text-decoration: none; transition: 200ms; }

a:hover {
  text-shadow: 0px 0px 5px var(--blue);
}

header {
  color: var(--light);
  background-color: var(--black);
  padding: 20px;
}

h1 {
  font-family: monospace, sans-serif;
  text-align: center;
  /* background-color: #333333aa; */
  margin: 0;
}

#offcanvas {
  color: var(--light);
  background-color: var(--dark);
  width: 300px;
}

@media screen and (max-width: 500px) {
  #offcanvas {
    width: 100%;
  }
}

#main-h1 {
  color: var(--light);
  transition: 200ms;
}

#main-h1:hover {
  color: var(--white);
  text-shadow: 0px 0px 5px var(--light);
}

.menu {
  background-color: var(--light);
  width: 35px;
  height: 4px;
  margin: 7px 0;
  transition: 150ms;
}


#menu-div {
  width: 35px;
  height: 28px;
  margin-left: 15%;
  height: 85%;
  padding-top: 1%; 
}

#menu-div:hover > .menu {
  background-color: var(--white);
  box-shadow: 0px 0px 5px 1px var(--light);
}

@media screen and (max-width: 600px) {
  .menu {
    width: 30px;
    height: 4px;
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  #menu-div {
    width: 30px;
    height: 20px;
  }
}


#main-div {
  height: 92vh;
  width: 100%;
  display: flex;
  position: relative;
  background-color: var(--dark);
}

#main-div::before {
  content: '';
  background-image: url(hacker.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  opacity: 0.20;
}

#main-div:hover::before {
  content: '';
  background-image: url(hacker_light.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px; right: 0px; bottom: 0px; left: 0px;
  opacity: 1;
}



#main-text {
  color: var(--white);
  text-shadow: 1px 1px 2px var(--dark);
  font-size: 175%;
  text-align: left;
  padding-top: 20%;
  padding-left: 5%;
  position: absolute;
}

/* @media screen and (max-width: 1000px) {
  #main-text {
    font-size: 125%;
  }
} */

@media screen and (max-width: 800px) {
  #main-text {
    text-align: center;
  }
}

/*
@media screen and (max-width: 410px) {
  #main-text {
    font-size: 100%;
  }
}  */

/* @media screen and (max-width: 600px) {
  #main-text {
    font-size: 100%;
    text-align: center;
  }
} */

#section {
  color: var(--light);
  padding: 1% 0%;
  /* position: relative; */
}

/* #section-img {
  width: 50%;
  float: right;
  opacity: 0.5;
} */

#section-txt {
  /* position: absolute; */
  padding: 0% 2.5% 0% 2.5%;
  /* font-size: 125%; */
}

#section-title {
  color: var(--white);
  /* font-size: 150% */
}

@media screen and (max-width: 600px) {
  #section {
    margin: 0% 2.5%;
  }
}

@media screen and (max-width: 600px) {
  #main {
    margin: 0% 2.5%;
  }
}

/* .blackbox {
  background-color: var(--black);
  padding: 1.5% 3%;
} */

/* .blackbox {
  background-color: var(--black);
  padding-left: 5%;
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  text-align: left;
  font-size: 80%;
} */

.blackbox {
  background-color: var(--black);
  padding: 1% 2%;
  text-align: left;
  font-size: 90%;
}

.blackbox h6 {
  margin-bottom: 1%;
}

.blackbox > ul {
  margin: 0;
}

div.container-xs, div.container-sm, 
div.container-md, div.container-lg,
div.container-xl {
  padding: 0;
}

.blackbox-xs {
  width: 20%;
  margin-left: 3%;
  float: right;
}

@media screen and (max-width: 770px) {
  .blackbox-xs {
    width: 40%;
  }
}

.blackbox-sm {
  width: 20%;
  margin-left: 3%;
  float: right;
}

@media screen and (max-width: 1000px) {
  .blackbox-sm {
    width: 35%;
  }
}

.blackbox-md {
  width: 30%;
  margin-left: 3%;
  float: right;
}

@media screen and (max-width: 990px) {
  .blackbox-md {
    width: 40%;
  }
}

@media screen and (max-width: 777px) {
  .blackbox-md {
    width: 50%;
  }
}

.blackbox-lg {
  width: 40%;
  margin-left: 3%;
  float: right;
}

@media screen and (max-width: 1200px) {
  .blackbox-lg {
    width: 50%;
  }
}

.blackbox-xl {
  width: 40%;
  margin-left: 3%;
  float: right;
}

@media screen and (max-width: 1200px) {
  .blackbox-xl {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .blackbox-xl {
    width: 55%;
  }
}

#blackbox-phone {
  margin-left: 0%;
  padding-bottom: 1%;
}


footer {
  background-color: var(--black);
  padding: 1% 0%;
}

footer > p {
  color: var(--light);
  text-align: center;
  margin: 0; padding: 0;
}

